{% extends 'base.html' %} {% block content %}
<div class="wrap">
    {% include "navbar.html" %}
    <div class="trend">
        <h1 class="HeadText">인기 BOOL</h1>
        <div class="trendList">
            <div class="trendPanel">
                <a class="trendPanelTitle"></a>
                <span class="trendPanelContent"></span>
            </div>
            <div class="trendPanel">
                <a class="trendPanelTitle"></a>
                <span class="trendPanelContent"></span>
            </div>
            <div class="trendPanel">
                <a class="trendPanelTitle"></a>
                <span class="trendPanelContent"></span>
            </div>
        </div>
        <button class="reloadTrends">인기글 더 불러오기</button>
    </div>
    <div class="descBoolList">
        <div class="cateTextAndCreatebtn">
            <h1 class="headText">
                {% if request.path == '/bool/list/생활' %}
                생활
                {% elif request.path == '/bool/list/교육' %}
                교육
                {% elif request.path == '/bool/list/행정' %}
                행정
                {% else %}
                전체 BOOL
                {% endif %}
            </h1>
            <a class="createBtn" href="{{ url_for('bool.create') }}">생성</a>
        </div>
        <div class="descBoolTableAndCategorys">
            <div class="categorys">
                <a href="{{ url_for('bool._list') }}">전체보기</a>
                <a href="{{ url_for('bool._list', cate='생활') }}">생활</a>
                <a href="{{ url_for('bool._list', cate='교육') }}">교육</a>
                <a href="{{ url_for('bool._list', cate='행정') }}">행정</a>
            </div>
            <table class="descBoolTable">
                {% if bool_list %} {% for bool in bool_list %}
                <tr class="boolTr">
                    <td>{{ bool.cate }}</td>
                    <td>
                        <a href="{{ url_for('bool.detail', bool_id=bool.id) }}"
                        >{{ bool.subject }}</a
                        >
                    </td>
                    <td>{{ bool.user.username+" "+bool.create_date|datetime }}</td>
                </tr>
                {% endfor %} {% else %}
                <tr>
                    <td colspan="3">질문이 없습니다.</td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='trend.js') }}"></script>
{% endblock %}