{% extends 'base.html' %}
{% block content %}
<div class="wrap">
    {% include "navbar.html" %}
    <div class="contentAndUser">
        <div class="contentWrap">
            <h1>{{ bool.subject }}</h1>
            <div>
                {{ bool.content|markdown }}
            </div>
        </div>

        <div class="writeUsers">
            <div>{{ bool.user.username }}</div>
        </div>
    </div>

    <div class="thumsupAndDown">
        <a href="javascript:void(0)" data-uri="{{ url_for('bool.vote_good', bool_id=bool.id) }}"
           class="recommend "> 추천
            <span class="recommend_count">{{ bool.voter_good|length }}</span>
        </a>
        <a href="javascript:void(0)" data-uri="{{ url_for('bool.vote_bad', bool_id=bool.id) }}"
           class="notRecommend "> 비추천
            <span class="notRecommend_count">{{ bool.voter_bad|length }}</span>
        </a>
    </div>

    <h5>{{ bool.Comment_set|length }}개의 답변이 있습니다.</h5>
    <div>
        <ul>
            {% for comment in bool.Comment_set %}
            <li>{{ comment.user.username+" | "+comment.content|markdown }}</li>
            {% endfor %}
        </ul>
    </div>
    <form action="{{ url_for('comment.create', bool_id=bool.id) }}" method="post">
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div>
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <textarea class="commentInput" name="content" id="content" rows="15" {% if not g.user %}disabled{% endif
                  %}></textarea>
        <input type="submit" value="답변등록">
    </form>
</div>
<script src="{{ url_for('static', filename='recommandAndNotRecommand.js') }}"></script>

{% endblock %}